* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div button {
  color: black;

  border-radius: 10px;
  width: 80px;
  border: none;
}
