#root {
  width: 1000px;
  height: 800px;

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cal {
  width: 700px;
  height: 95px;
  background-color: bisque;
}

.allBtn {
  width: 700px;
  height: 150px;
  border-radius: 70px;
  display: flex;
  font-size: 30px;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}
.calBtn {
  width: 150px;
  color: aliceblue;
  background-color: #333;
  border: 1px solid black;
  border-radius: 10px;
}
#calBtn16 {
  width: 315px;
  color: aliceblue;
  background-color: #333;
  border: 1px solid black;
  border-radius: 10px;
}
