#conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box {
  margin: auto;
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.but {
  margin: 5px;
  border: 1px none;
  background-color: orange;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
button {
  color: black;
}
