#root {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.header {
  /* background-color: aquamarine; */
  font-size: 32px;
}
.conteiner {
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
  margin-top: 20px;
}
.input {
  border: 2px black solid;
}
